<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <% if (username) { %>
        <p>Logged in as: <%= username %></p>
    <% } %>
    <p>Welcome to the home page!</p>
</body>
</html>
